* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #111;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    height: 100%;
    color: #eee;
    overflow: hidden;
}

body, .popup-container {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.popup-container {
    justify-content: center;
    
    /* Remove this to show the popup */
    display: none;
}

#start, #restart {
    border: none;
    border-bottom: 5px solid #bbb;
    border-radius: 0;
    font-size: 20px;
    padding: 12px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    visibility: hidden;
}

#start:active, #restart:active {
    margin-top: 15px;
    border-bottom: none;
}

#restart {
    display: none;
}


*, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    margin-top: 20px;
    margin-bottom: 5px;
}

p {
    letter-spacing: 1px;
}

.pink {
    color: rgb(200, 0, 100);
    font-weight: bold;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    background-color: #0b0e21;
    border-radius: 5px;
    padding: 30px;
}

.popup h1 {
    text-align: center;
}

.popup small{ 
    display: block;
    text-align: center;
}

.popup p {
    line-height: 20px;
}

.popup input {
    border: 0;
    border-radius: 0;
    font-size: 16px;
    padding: 15px;
    display: block;
    width: 100%;
}

.popup #hidePopup {
    background-color: rgb(200, 0, 100);
    color: #fff;
    font-weight: bold;
}

.popup #hidePopup:hover {
    cursor:pointer;
}

footer {
    background-color: #0b0e21;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 14px;
}

footer span {
    color: #e74c3c;
}

footer a {
    color: #2980b9;
    text-decoration: none;
}